/* menu.css */

/* Estilo del sidebar */
.side-bar {
    -fx-background-color: linear-gradient(
            from 0% 0% to 0% 100%,
            #1f3b6f,      /* azul oscuro */
            #3c6ab3       /* azul medio */
    );
    -fx-padding: 10px;    /* separación interior */
}

/* Sombra para la imagen */
.image-menu {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 8, 0.5 , 0 , 2 );
}
/* el nuevo HBox que sólo contiene la imagen */
.image-container {
    -fx-alignment: center;     /* aquí centramos la imagen */
}

/* Título del menú */
.menu-title {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10px 0;  /* margen inferior */

}

/* Botones del menú */
.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10px 15px;
    -fx-background-radius: 5px;
}
/* Se Agrego esta función para activar botones que esten activos y se vean mas claros*/
/* Cuando un botón tiene la clase 'active', le damos un fondo más claro */
.menu-button.active {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

/* Efecto hover */
.menu-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

/* Efecto cuando el botón está activo/focused
    Se quito porque cuando se recargaba se autofocuseava botones
*/
/*
.menu-button:focused, .menu-button:armed {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}
 */

/* Área de contenido */
.content-area {
    -fx-background-color: white;
    -fx-padding: 15px;
}
