.root {
    -fx-background-color: #f6f6f6;
}

.text-field {
    -fx-pref-width: 300;
    -fx-background-radius: 5;
}

.btn-agregar {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 20;
    -fx-background-radius: 5;
}

.btn-cancelar {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 20;
    -fx-background-radius: 5;
}
